<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Your Spring bean definitions go here -->
    
    <!-- Define a bean for Student -->
    <bean id="student1" class="com.mavenspring.Student">
        <property name="studentId" value="22344"/>
        <property name="studentName" value="Dummy Name"/>
        <property name="studentAddress" value="Dummy Address"/>
    </bean>
    <!-- Define a bean for Student(creating an another object) -->
    <bean id="student2" class="com.mavenspring.Student">
        <property name="studentId" value="1924111295"/>
        <property name="studentName" value="MD Fasiuddin"/>
        <property name="studentAddress" value="Hyderabad"/>
    </bean>
    <!-- Define a bean for Student(creating an another object)using p schema -->
    <bean id="student3" class="com.mavenspring.Student" p:studentId="12345" p:studentName="Any DummyName" p:studentAddress="Any Dummy Address" />
</beans>

